[user]
	name = Andrew Lamzed-Short
	email = andrew.lamzedshort@canonical.com

[color]
	ui = true

[alias]
	cl = clone

	a = add
	ap = add -p

	c = commit --verbose
	cm = commit -m

	d = diff

	s = status

	pl = pull --recurse-submodules

	p = push

	rb = rebase

	st = stash

	lo = log --oneline

[core]
	pager = less

[url "git+ssh://andyls@git.launchpad.net/"]
	insteadof = lp:

[diff]
	algorithm = histogram

[init]
	defaultBranch = main
