[user]
	name = Andrew Lamzed-Short
	email = me@andyls.co.uk
	signingkey = B886A5FD3953FED5
[color]
	ui = true
[alias]
	st = status
[commit]
	gpgsign = true
[credential]
	helper = store
[core]
	pager = less
	compression = 0
	excludesFile = ~/.gitignore
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[http]
	postBuffer = 26214400
[pack]
	window = 1
	packSizeLimit = 3000000000
